In [1]:
6*6

36

In [4]:
import pandas as pd
#df = pd.read_csv('pokemon_data.csv')
#df_xlsx = pd.read_excel('pokemon_data.xlsx')
#print(df_xlsx.tail(10))
df_txt = pd.read_csv('pokemon_data.txt', delimiter ='\t')
print(df_txt)

       #                   Name   Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison  45      49       49
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander     Fire     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion     Fire   Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 12 columns]

In [6]:
## Row Headers
#print(df.columns)
## Read each column
#print(df[['Name', 'Type 1', 'HP']] [0:5])
## Read each row
##for index, row in df.iterrows():
##   print(index, row['Name'])
##df.loc[df['Type 1'] == "Grass"]
import pandas as pd
df = pd.read_csv('pokemon_data.txt', delimiter ='\t')

df.loc[df['HP']==45]

##print(df.iloc[1:4])
## Read a aspecific location(R,C)
##print(df.iloc[2,1])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
13,10,Caterpie,Bug,NaN,45,30,35,20,20,45,1,False
17,14,Kakuna,Bug,Poison,45,25,50,25,25,35,1,False
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False
100,93,Haunter,Ghost,Poison,45,50,45,115,55,95,1,False
127,118,Goldeen,Water,NaN,45,67,60,35,50,63,1,False
166,152,Chikorita,Grass,NaN,45,49,65,49,65,45,2,False
243,225,Delibird,Ice,Flying,45,55,45,65,45,75,2,False
246,228,Houndour,Dark,Fire,45,60,30,80,50,65,2,False
257,238,Smoochum,Ice,Psychic,45,30,15,85,65,65,2,False
258,239,Elekid,Electric,NaN,45,63,37,65,55,95,2,False
259,240,Magby,Fire,NaN,45,75,37,70,55,83,2,False
276,255,Torchic,Fire,NaN,45,60,40,70,50,45,3,False
288,265,Wurmple,Bug,NaN,45,45,35,20,30,20,3,False
347,318,Carvanha,Water,Dark,45,90,20,65,20,65,3,False
359,328,Trapinch,Ground,NaN,45,100,45,45,45,10,3,False
364,333,Swablu,Normal,Flying,45,40,60,40,75,50,3,False
379,347,Anorith,Rock,Bug,45,95,50,40,50,75,3,False
406,371,Bagon,Dragon,NaN,45,75,60,40,30,50,3,False
448,403,Shinx,Electric,NaN,45,65,34,40,34,45,4,False
467,420,Cherubi,Grass,NaN,45,35,45,62,53,35,4,False
481,433,Chingling,Psychic,NaN,45,30,50,65,50,45,4,False
508,458,Mantyke,Water,Flying,45,20,50,60,120,50,4,False
529,477,Dusknoir,Ghost,NaN,45,100,135,65,135,45,4,False
554,495,Snivy,Grass,NaN,45,45,55,45,55,63,5,False
563,504,Patrat,Normal,NaN,45,55,39,35,39,42,5,False
565,506,Lillipup,Normal,NaN,45,60,45,25,45,55,5,False
581,522,Blitzle,Electric,NaN,45,60,32,50,32,76,5,False
600,540,Sewaddle,Bug,Grass,45,53,70,40,60,42,5,False
608,548,Petilil,Grass,NaN,45,35,50,70,50,30,5,False
635,574,Gothita,Psychic,NaN,45,30,50,55,65,45,5,False
638,577,Solosis,Psychic,NaN,45,30,40,105,50,20,5,False
680,619,Mienfoo,Fighting,NaN,45,85,50,55,50,65,5,False
685,624,Pawniard,Dark,Steel,45,85,70,40,40,60,5,False
729,661,Fletchling,Normal,Flying,45,50,43,40,38,62,6,False
733,665,Spewpa,Bug,NaN,45,22,60,27,30,29,6,False
748,679,Honedge,Steel,Ghost,45,80,100,35,37,28,6,False
774,704,Goomy,Dragon,NaN,45,50,35,55,75,40,6,False

In [ ]:
##df.describe()
df.sort_values(['Type 1', 'HP'], ascending=[1,0])

In [7]:
## Making changes to thne data

#df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']
#print(df.head(5))
#df.drop(columns = ['Total'])
import pandas as pd
df = pd.read_csv('pokemon_data.txt', delimiter ='\t')
df['Total'] = df.iloc[:, 4:10].sum(axis = 1)

cols =list(df.columns)
df = df[cols[0:4] + [cols[-1]] + cols[4:12]]
df.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [18]:
#df.to_csv('modified.csv' , index = False)
#df.to_excel('modified.xlsx',  index= False)
df.to_csv('modified.txt', index = False , sep = "\t")

In [28]:
new_df = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == "Poison") & (df['HP'] > 70)]
new_df = new_df.reset_index(drop = True)
print(new_df)
#new_df.to_csv('filtered.csv')

     #                   Name Type 1  Type 2  Total   HP  Attack  Defense  \
0    3               Venusaur  Grass  Poison    525   80      82       83
1    3  VenusaurMega Venusaur  Grass  Poison    625   80     100      123
2   45              Vileplume  Grass  Poison    490   75      80       85
3   71             Victreebel  Grass  Poison    490   80     105       65
4  591              Amoonguss  Grass  Poison    464  114      85       70

   Sp. Atk  Sp. Def  Speed  Generation  Legendary
0      100      100     80           1      False
1      122      120     80           1      False
2      110       90     50           1      False
3      100       70     70           1      False
4       85       80     30           5      False

In [34]:
import re

df.loc[df['Type 1'].str.contains("fire|Grass" , regex = True, flags = re.I)]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,369,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,507,86,68,72,109,66,106,6,False
740,672,Skiddo,Grass,NaN,350,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,531,123,100,62,97,81,68,6,False
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [37]:
import re
df.loc[df['Name'].str.contains('^pi[a-z]*', flags = re.I, regex = True)]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
20,16,Pidgey,Normal,Flying,251,40,45,40,35,35,56,1,False
21,17,Pidgeotto,Normal,Flying,349,63,60,55,50,50,71,1,False
22,18,Pidgeot,Normal,Flying,479,83,80,75,70,70,101,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,1,False
30,25,Pikachu,Electric,NaN,320,35,55,40,50,50,90,1,False
136,127,Pinsir,Bug,NaN,500,65,125,100,55,70,85,1,False
137,127,PinsirMega Pinsir,Bug,Flying,600,65,155,120,65,90,105,1,False
186,172,Pichu,Electric,NaN,205,20,40,15,35,35,60,2,False
219,204,Pineco,Bug,NaN,290,50,65,90,35,35,15,2,False
239,221,Piloswine,Ice,Ground,450,100,100,80,60,60,50,2,False
438,393,Piplup,Water,NaN,314,53,51,53,61,56,40,4,False
558,499,Pignite,Fire,Fighting,418,90,93,55,70,55,55,5,False
578,519,Pidove,Normal,Flying,264,50,55,50,36,30,43,5,False

In [42]:
df.loc[df['Type 1'] == 'Flamer' , 'Type 1'] = 'Fire'
df.loc[df['Type 1'] =='Fire' , 'Legendary'] = True
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [48]:
df = pd.read_csv('modified.csv', delimiter ='\t')
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [55]:
df.loc[df['Total'] > 500, ['Generation','Legendary']] = ['TEST 1' , 'TEST 2']
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,TEST 1,TEST 2
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,TEST 1,TEST 2
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,TEST 1,TEST 2
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,TEST 1,TEST 2
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,TEST 1,TEST 2
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,TEST 1,TEST 2
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,TEST 1,TEST 2

In [66]:
df = pd.read_csv('modified.csv', delimiter = '\t')
#df.groupby(['Type 1']).mean().sort_values('HP' , ascending = False)
df['Count'] = 1
df.groupby(['Type 1' , 'Type 2']).count()['Count']

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: Count, Length: 136, dtype: int64